# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CMakeLists.txt.user
/build/

.vscode
*.pcd
__pycache__/

radix_ros/launch/launch_tmp.xml

# virtualenv
.venv

# specific launch files
sem_voxel_map.launch.xml

# generated output
out/

dashboard/imgs/
